body{
    background-color: rgb(245, 192, 192);
    margin-top:0;
    margin-bottom:0;
    padding:0;
}
h1{
    position:absolute;
    left:40%;
    top:20px;
}
img{
    margin-left: 36%;
    height: 50vh;
}

button {
    display: inline-block; /* Ensure buttons are inline-block */
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 13px;
    border-color: aliceblue;
    background-color: rgba(221, 169, 169, 0.44);
    color: beige;
    height: 3vh;
    width: 10vw;
}

#y {
    left: 35%; /* Adjust left position */
}

#n {
    left: 55%; /* Adjust left position */
}

@media (max-width: 600px) {
    button {
        width: 5vw; /* Adjust button width for smaller screens */
    }

    #y {
        left: 30%; /* Adjust left position for smaller screens */
    }

    #n {
        left: 50%; /* Adjust left position for smaller screens */
    }
}
